.about{
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -3%;
    padding: 70px 10%;
}
.about-image{
    position: relative;
    width: 40%;
}
.about-image img{
    width: 90%;
}
.about-image-info{
    position: absolute;
    padding: 2% 6% 2% 3%;
    top:20%;
    right:0;
    border: 2px #beb9b9 solid;
    font-size: 18px;
}
.about-image-info h5{
    font-weight: 600;
}

.about-info h4{
    color:rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;   
    margin-bottom: 5%;
}
.about-info h3{
    font-size: 40px;
    color: #151515;
    font-weight: 700;
    margin-bottom: 8%;
    line-height: 1.3;
}
.about-info p{
    font-size: 18px;
    margin-bottom: 5%;
}
.about-info li::before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 2px;
    position: absolute;
    background-color: #71B85F;
    top: calc(50% - 1px);
    left: 0;
}
.about-info li{
    margin-bottom: 5%;
    font-weight:550;
    font-size: 20px;
    position: relative;
    padding-left: 7%;
}
.about-info{
    width: 45%;
}
.about-info a{
    color:#fff;
    background-color: #71B85F;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    cursor: pointer;
    font-weight:600;
    font-size: 15px;
    transition: .4s;
    text-decoration: none;
}
.about-info a:hover{
    background-color: #000;
}
/* @media(max-width:1200px){
    .about-image img{
        display: block;
        width: 80%;
    }
    .about-info h4{
        font-size: 15px;
    }
    .about-info h3{
        font-size: 30px;
    }
    .about-info p{
        font-size: 14px;
    }
    .about-info li{
        font-size: 15px;
    }
    .about-info a{
        width:150px;
    }

} */
@media(max-width: 1080px){
    .about{
        flex-wrap: wrap;
    }
    .about-info{
        width: 100%;
    }
    .about-image{
        width: 60%;
        margin-bottom: 30px;
    }
}
@media(max-width:800px){
    .about-image img{
        display: block;
        width: 70%;
    }
    .about-info h4{
        font-size: 12px;
    }
    .about-info h3{
        font-size: 25px;
    }
    .about-info p{
        font-size: 12px;
    }
    .about-info li{
        font-size: 13px;
    }
    .about-info a{
        width:100px;
        height: 30px;
        font-size: 12px;
    }
}
@media(max-width:600px){
    .about-image {
        width: 100%;
    }
}