.food{
    background-color: #71B85F;
    padding: 4% 10% 8%;
}
.food-header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.food-element{
    display: flex;
    justify-content:space-between;
}
.food-item{
    position: relative;
    background-color: #fff;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius:70px;
    border-bottom-right-radius:70px;
    width: 25%;
    padding: 30px 25px;
    box-sizing: border-box;
}
.food-image{
    position: absolute;
    top:-5%;
    right: -18%;
}
.food-header h3{
    color:rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 600;
}
.food-header h1{
    padding-top: 3%;
    padding-bottom: 5%;
    color:#fff;
    font-size: 40px;
    font-weight: 700;
}
.food-item h2{
    font-size: 20px;
    font-weight: 700;
}
.food-price{
    display: flex;
}
.food-item h4{
    font-size: 20px;
    font-weight: 500;
    margin-top: 6%;
}
.food-item h1{
    font-size: 80px;
    font-weight: 300;
}
.food-item h5{
    font-size: 18px;
    font-weight: 200;
    margin-bottom: 10%;
}
.food-item p{
    margin-bottom: 10%;
}
.food-order{
    background-color: #71B85F;
    color:#fff;
    display: inline-block;
    padding: 20px 35px;
    text-decoration: none;
    text-align: center;
    border-radius: 30px;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    transition: .4s;
    margin-bottom: 30px !important;
}
.order-container{
    display: flex;
    justify-content: center;
}
.food-menu{
    display: inline-block;
    margin-left: 12%;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 40px;
    color:#000;
    transition: .4s;
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.food-order:hover{
    background-color: #000;
}
.food-menu:hover{
    color: #71B85F;
}
@media(max-width:1190px){
    .food-element{
        flex-wrap: wrap;
    }
    .food-item{
        width: 35%;
        margin: 20px auto;
    }
    .food-item h4{
        font-size: 15px;
    }
    .food-item h1{
        font-size: 60px;
    }
    .food-item h5{
        font-size: 15px;
    }
}
@media(max-width:1000px){
    .food-image img{
        display: block;
        width: 70%;
    }
}
@media(max-width:825px){
    .food-header h3{
        font-size: 15px;
    }
    .food-header h1{
        font-size: 25px;
    }
}
@media(max-width:780px) {
    .food-item {
        width: calc(50% + 1px);
        margin: 20px auto;
    }
}
@media(max-width:625px){
    .food-header h3{
        font-size: 10px;
    }
    .food-header h1{
        font-size: 15px;
    }
    .food-element h2{
        font-size: 10px;
    }
    .food-element h4{
        font-size: 10px;
    }
    .food-element h1{
        font-size: 30px;
    }
    .food-element h5{
        font-size: 10px;
    }
    .food-element p{
        font-size: 10px;
    }
    .food-element a{
        font-size: 12px;
    }
    .food-image img{
        display: block;
        width: 50%;
    }
}
