.footer-line{
    display: block;
    height: .5px;
    width: 100%;
    background-color: gray;
}  
.footer{
    background-color: #fff;
    padding: 10%;
    display: flex;
    justify-content: space-around;
}
.footer h3{
    font-weight: 700;
    margin-bottom: 10%;
}
.footer h5{
    color:rgba(0, 0, 0, 0.7);
    margin-right: 3%;
}
.footer-flex{
    display: flex;
}
.footer p{
    margin-top: 20%;
}
.footer img{
    display: block;
    width: 50%;
}
.footer-column{
    display: flex;
    flex-direction: column;
}
.footer a{
    text-decoration: none;
    margin-bottom: 8%;
    display: block;
    color:#000;
    font-weight: 500;
}
.footer i{
    font-size: 25px;
}
.footer-item{
    display:block;
    margin-right: 10%;
}
@media(max-width:1150px){
    .footer{
        flex-wrap: wrap;
    }
    .footer>div{
        width:45%;
        margin-bottom: 20px;
    }
}
@media(max-width:750px){
    .footer>div{
        width:100%;
    }
}