.test{
    background-color: #fff;
    display: flex;
    padding: 8% 10% 10%;
    gap:8%;
}
.test-images{
    position: relative;
    width: 46%;
    height: 500px;
}
.test-text{
    width: 46%;
}
.test-text h3{
    color:rgba(0, 0, 0, 0.5);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5%;
}
.test-text h2{
    color:#151515;
    font-size:40px;
    font-weight: 900;
    margin-bottom: 5%;    
}
.test-text p{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5%;
    margin-left: 4%;
}
.test-text h4{
    font-weight: 700;
    margin-bottom: 10%;
    margin-left: 9%;
}
.test-text-quote{
    display: flex;
}
.test-text a{
    text-align: center;
    padding: 20px 30px;
    font-weight: 500;
    border-radius: 40px;
    color:#fff;
    background-color:#71B85F;
    text-decoration: none;
    transition: .4s;
}
.test-text a:hover{
    background-color: #000;
}
.test-image-item{
    position: absolute;
    display: block;
    cursor: pointer;
    border-radius: 50%;
}
.test-image-item img{
    display: inline-block;
    border: 4px solid #fff;
}
.test-image-item:hover{
    border: 4px solid #DFF9D9;
    border-radius: 50%;
}
.test-image-item:first-child{
    top:0;
    right:10%;
}
.test-image-item:nth-child(2){
    top:20%;
    left:0;
}
.test-image-item:last-child{
    top:45%;
    right:0;    
}
@media(max-width:1250px){
    .test{
        flex-wrap: wrap;
    }
    .test-text{
        width:100%;
    }
    .test-images{
        width: 100%;
        position:initial;
        display: flex;
        justify-content: space-between;
        height: 100%;
        margin-bottom: 40px;
    }
    .test-image-item{
        position: initial;
        width: 25%;
    }
    .test-image-item img{
        width: 100%;
    }
}
